<style type="text/css">
    .header {
        background: #8a8a8a;
    }
    .header .columns {
        padding-bottom: 0;
    }
    .header p {
        color: #fff;
        padding-top: 15px;
    }
    .header .wrapper-inner {
        padding: 20px;
    }
    .header .container {
        background:  transparent;
    }
    table.button.facebook table td {
        background: #385998; !important
    }
    table.button.twitter table td {
        background: #385998; !important
    }
    .wrapper.secondary {
        background: #f3f3f3
    }
</style>

<wrapper class="header">
    <container>
        <row class="collapse">
            <columns small="6">
                <p class="text-right">SendIt</p>
            </columns>
        </row>
    </container>
</wrapper>

<conatiner>
    <spacer size="16"></spacer>
    <row>
        <columns small="12">
            <h1>Hello, <%= Email %></h1>
            <p class="lead">Lorem ipsum dolor sit amet</p>
            <p>SendIT is a courier service that helps users deliver parcels to different destinations. SendIT provides
                courier quotes based on weight categories.</p>
            <callout class="primary">
                <p>Send your parcel in three simple steps</p>
            </callout>
        </columns>
    </row>
    <wrapper class="secondary">
        <spacer size="16"></spacer>
        <row>
            <columns large="6">
                <h5>Connect with us:</h5>
                <button class="facebook expand" href="http://zurb.com">Facebook</button>
                <button class="twitter expand" href="http://zurb.com">Twitter</button>
            </columns>
            <columns large="6">
                <h5>Contact Info:</h5>
                <p>Phone: 0793 018 396</p>
                <p>Email: <a href="gkdevs50@gmail.com">GK Developers</a></p>
            </columns>
        </row>
    </wrapper>
</container>
